* {
    margin: 0;
    padding: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li, ol li {
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}

a:hover {
    color: rgba(0, 0, 0, .7);
}

img {
    max-width: 100%;
    border-radius: 5px;
}