body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    text-align: left;
}

h1 {
    padding-left: 250px;
    position: relative;
    background-color: burlywood;
    color: red;
}

.highlightable {
    background-color: dimgray;
    color: violet;
}

.highlighted {
    text-decoration: underline;
}