{% extends 'shared/site.html' %}
{% load static %}


{% block title %}
    Petstagram
{% endblock %}


{% block main-content %}
    <div class="container">
        <div class="container-inside">

            <img src="{% static 'images/pets_pic.png' %}" alt="pets img" class="pets_pic">

            <h1>Welcome to Petstagram</h1>
            <p>Share your pets photos</p>

            <hr class="line" style="border: 0; border-top: 1px solid rgba(0,0,0,.1); margin: 20px 0;">

            <div class="form-container">
                <div class="in">
                    <p>Already have an account?</p>
                    <button>
                        Sign in
                    </button>
                </div>

                <div class="up">
                    <p>Do not have an account?</p>
                    <button>
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

